p-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; /* Remove the height constraint to allow the card to size naturally */
  max-width: 400px; /* Set a maximum width for the card */
  width: 100%; /* Ensure the card scales to the container's width */
  margin: 0 auto; /* Center the card within its container */
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-top: auto;
}

.btn-heart {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
  border-radius: 50%;
}

.btn-heart:hover {
  transform: scale(1.1);
  background-color: #ff4d4d;
}

.btn-heart:active {
  background-color: #ff1a1a;
}

.btn-details,
.btn-save {
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

.btn-details:hover,
.btn-save:hover {
  background-color: #006400;
}

.btn-save:active {
  background-color: #004d00;
}
