.card-container {
  gap: 1rem;
  width: 20%;
  margin: 0 auto;
}

.custom-card {
  position: relative;
}

.btn-heart {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
  border-radius: 50%;
}

.btn-heart:hover {
  transform: scale(1.1);
  background-color: #ff4d4d;
}

.btn-heart:active {
  background-color: #ff1a1a;
}

.btn-details {
  margin-left: 0.3rem; /* Style moved from inline to CSS */
}

.btn-save {
  margin-left: 0.3rem; /* Style moved from inline to CSS */
}

.btn-heart {
  margin-left: 0.3rem; /* Style moved from inline to CSS */
}
