<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <div class="container">
    <div class="image-box">
      <img src="assets/logo.png" alt="Description de l'image">
    </div>
  </div>
  <p class="welcome-message">Welcome back to WorldBlog !</p>

  <h1 class="title">Sign in</h1>
  <div class="input">
    <p-floatLabel>
      <input type="text" pInputText formControlName="email" />
      <label>Email</label>
    </p-floatLabel>
  </div>
  <div class="input">
    <p-floatLabel>
      <p-password  formControlName="password" >
        <ng-template pTemplate="header">
          <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider />
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
      <label for="password">Password</label>
    </p-floatLabel>
  </div>
  <div class="button">
    <button pButton type="submit" label="Login" [disabled]="!loginForm.valid"></button>
  </div>
  <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
    <b>OR</b>
  </p-divider>
  <div class="button-login-other">
    <button pButton type="button" label="Sign in with Google" icon="pi pi-google" style="width: 100%" class="button-google"></button>
  </div>
  <div class="button-login-other">
    <button pButton type="button" label="Sign in with Github" icon="pi pi-github" style="width: 100%" class="button-github" ></button>
  </div>
</form>
