html, body {
  height: 100%; /* Assure que le body et l'html prennent toute la hauteur */
  margin: 0; /* Supprime les marges par défaut */
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.center-card app-card {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 768px) {
  .center-card app-card {
    display: flex;
    justify-content: center; /* Ajoute une marge sur les côtés */
  }
}
