.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1rem; /* Adds padding for smaller screens */
}

@media (max-width: 768px) {
  .center-card app-card {
    width: 100%; /* Makes the card full-width on smaller screens */
    max-width: 80%; /* Adds some margin on the sides */
  }
}
