.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.center app-card {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 768px) {
  .center-card app-card {
    display: flex;
    justify-content: center;
  }
}
